<footer class="footer  py-3 mt-auto" style="background-color:  #873def;">
     
        <span style="font-size: 20px; color: rgb(242, 231, 231)">&copy; SAS <%=new Date().getFullYear()%></span>
    
</footer>